.container{
    width: 100%;
    display: flex;
    min-height: 80vh;
    margin: 0;
        transition: 0.3s;
        align-items: center;
}
.container .txtBox{
        transition: 0.3s;
        position: relative;
    width: 50%;
    padding: 10px 100px;
    text-align: end;
}
.container .txtBox h2{
        transition: 0.3s;
        font-size: 3em;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 5px;
    color: var(--text-color-secondary);
}
.container .txtBox p{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 2px;
    color: var(--border-color);
        transition: 0.3s;
        margin-bottom: 30px;
}
.container .txtBox a{
    position: relative;
    display: inline-block;
    padding: 6px 50px;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    background-color: var(--text-color-primary);
    transition: 0.3s;
}
.container .txtBox a:hover{
    transition: 0.3s;
    background-color: var(--text-color-secondary);
}

.container .imgBox{
    padding: 100px;
        transition: 0.3s;
        width: 50%;
    height: 100%;
}
.container .imgBox img{
        transition: 0.3s;
        width: 90%;
}
@media screen and (max-width: 980px){
    .container{
        transition: 0.3s;
        flex-direction: column;
    }
    .container .txtBox{
        transition: 0.3s;
        width: 100%;
        padding: 10px 40px;
        text-align: center;
    }
    .container .txtBox h2{
        transition: 0.3s;
        font-size: 2.5em;
    }
    .container .txtBox a{
        padding: 6px 30px ;
    }
    .container .imgBox{
        transition: 0.3s;
        width: 80%;
        padding: 10px;
    }
}

@media screen and (max-width: 400px){
    .container{
        display: flex;
        transition: 0.3s;
        align-items: center;
        justify-content: center;
    }
    .container .imgBox{
        transition: 0.3s;
        display: none;
    }
}