<div class="container">
    <div class="txtBox">
        <h2>Precisa de ajuda?</h2>
        <p>A Simplify possui diversos canais de atendimentos, entre em contato conosco através das seguintes plataformas.</p>
        <div class="social-container">
            <a href="https://api.whatsapp.com/send?phone=11963758133&text=olá simplify">
                <div class="button-social">
                    <img src="../../../../assets/icons/bi_whatsapp.png" alt="">
                </div>
            </a>
            <a style="cursor: no-drop;">
                <div class="button-social">
                    <img src="../../../../assets/icons/slack.png" alt="">
                </div>
            </a>
            <a style="cursor: no-drop;">
                <div class="button-social">
                    <img src="../../../../assets/icons/outlook.png" alt="">
                </div>
            </a>
        </div>
    </div>
    <div class="imgBox">
        <img src="../../../../assets/images/image 4.png" alt="">
    </div>
</div>