<div class="navbar">
    <div class="logo">
        <a href="/"><img src="../../../../assets/logo/noname.png" alt="Logo Simplify"></a>
    </div>
    <div class="buttons">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">Sobre nós</a>
            </li>
            <li>
                <a href="/servicos">Serviços</a>
            </li>
            <li>
                <a href="/contact">Contatos</a>
            </li>
        </ul>
    </div>
    <div class="menu" [style.height]= "toggleMenu ? '100vh': 'inherit'">
        <div class="menu-img" (click)="showMenu(); $event.preventDefault()">
            <a href="/"><img src="../../../../assets/icons/menu-hamburguer.svg" alt="Menu Hamburguer"></a>
        </div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">Sobre nós</a>
            </li>
            <li>
                <a href="/servicos">Serviços</a>
            </li>
            <li>
                <a href="/contact">Contatos</a>
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <ng-content></ng-content>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>