/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background-color: #FEFEFE;
    --text-color: #030303;  /*Default text color*/
    --text-color-primary: #1F28CF; /*Contrast Color*/
    --text-color-secondary: #5263FA; /*Soft color*/
    --text-contrast: #15689B;
    --border-color: #4D4D4D; 
    --whatsapp-button: #52FA55;
    --slack-button:#850000;
}