<header class="page-header">
    <div class="top-bar-container">
        <a href="/servicos">
            <img src="../../../../assets/icons/back.png" alt="">
        </a>
    </div>
    <div class="header-content">
        <strong>
        </strong>
    </div>
</header>
<div class="container">
    <main>
        <fieldset>
            <legend>Seus dados</legend>
            <div class="input-block">
                <label for="name">Nome completo</label>
                <input type="text" id="name" />
            </div>
            <div class="input-block">
                <label for="name">Data nascimento</label>
                <input type="date" id="data" />
            </div>
            <div class="input-block">
                <label for="email">Email</label>
                <input type="email" id="email" />
            </div>
            <div class="input-block">
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Sua credencial de acesso</legend>
            <div class="input-block">
                <label for="password">Sua Senha</label>
                <input type="password" id="password" />
            </div>
            <div class="input-block">
                <label for="confirmPassword">Confirme sua Senha</label>
                <input type="password" id="confirmPassword" />
            </div>
        </fieldset>
        <form>
            <footer>
                <p>
                    <img src="" alt="Aviso Importante" />
                    Importante !
                    Preencha todos os dados
                </p>
                <button type="submit">
                    Realizar cadastro
                </button>
            </footer>
        </form>
    </main>
</div>